html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  /*our stiles*/
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
 }
.container--wide {
 	max-width: 1600px;
 	margin-top: 93px;
 	clear: both;
 	position: relative;
}
a {
 	transition: all 0.2s ease;
 }
 body {
 	font-family: "LeagueGothicRegular", Arial, sans-serif;
 }
 /*header*/
.header {
	position: relative;
	width: 100%;
	height: 846px;
	background: url(../img/header.jpg) top center no-repeat;
}
.header__logo {
	position: absolute;
	top: 70px;
	left: 0;
}
.slider-decoration-line {
	width: 100%;
	height: 400px;
	opacity: 0.2;
	background-color: #000;
	position: absolute;
	top: 278px;
	left: 0;
}
/*menu*/
.menu {
	float: right;
	margin: 74px 0 20px 200px;
}
.menu__item {
	display: inline-block;
	margin-right: 50px;
}
.menu__link {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
}
.menu__link:hover {
	border-bottom: 2px solid #edbfff;
}
.menu__item--last {
	margin-right: 0;
}
/*slider*/
.header__slider {
	height: 577px;
}
.header__slider-item {
	position: relative;
	height: 434px;
	width: 960px;
	margin: 0 auto;
}
.header__slide-description {
	width: 518px;
	margin-top: 50px;
}
.header__slide-img {
	width: 274px;
	height: 434px;
	position: absolute;
	top: 0;
	right: 70px;
}
.slide-title {
	color: #fff;
	font-size: 60px;
	letter-spacing: -0.5px;
	padding-top: 95px;
}
.slide-subtitle {
	color: #edbfff;
	font-size: 32px;
	text-transform: uppercase;
}
.slide-paragraph {
	padding-top: 7px;
	line-height: 23px;
	color: #fff;
	font-size: 18px;
	letter-spacing: -0.05px;
	font-family: "OpenSansLight", Arial, sans-serif;
}
/*owl-carousel-style edit*/
.owl-nav div {
	width: 30px;
	height: 42px;
	background-image: url(../img/sprite.png);
	position: absolute;
	top: 189px;
}
.owl-prev {
	background-position: 0 0;
	left: 0;
}
.owl-next {
	background-position: 0 -52px;
	right: 0;
}
.owl-dots {
	width: 624px;
	margin: 0 auto;
	text-align: right;
	margin-top: 75px;
}
.owl-dot {
	width: 17px;
	height: 17px;
	background-color: #000;
	display: inline-block;
	border-radius: 100%;
	opacity: 0.3;
	margin-left: 3px;
}
.owl-dot.active {
	background: #37373d url(../img/sprite.png) no-repeat 0 0;
	background-position: -1px -105px;
	opacity: 1;
}